.App{
    text-align: center;
    font-family: Arial;
}

.selected {
    background: yellow !important;
}

.options {
    padding: 8px;
    border: 3px solid #000;
    cursor: pointer;
    width:100%;
    background-color: white;
    color: steelblue;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 5px;
}

body{
    display: flex;
    justify-content: center;
    color:white;
    font-family: 'Segoe UI',;
    font-size: 18px;
    background-color: teal;
 }
